*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* tag selectors */

body {
    background-color: #F5F8F9;
}
header {
    background-color: #fff;
    padding: 15px 10px;
}

ul{
    list-style: none;
    padding-top: 5px;
}
li {
    margin-bottom: 15px;
}

/* classes style */

.title-header {
    vertical-align: top;
    font-size: 35px;
}
.main {
    background-color: #fff;
    width: 900px;
    margin: 50px auto 5% auto ;
    
}
.padding-left {
    padding-left: 40px;
}
.head-main {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.btn {
    background-color: #fff;
    border: 1px solid lightgray;
    color: lightgray;
    border-radius: 3px;
    box-shadow: none;
    padding: 5px 10px;
}
.body-main {
    padding-top: 10px;
    padding-bottom: 40px;
}
.container {
    margin-bottom: 20px;
    margin-top: 20px;
}
h2 {
    margin-bottom: 5px;
    margin-top: 5px;
}
h2:before {
    content: '\21A7 ';
}
.round {
    border: 1px solid;
    border-radius: 50%;
    padding: 3px 5px;
    font-size: 10px;
}

.btn-list {
    border: 1px solid transparent;
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 10px;
}

/* color */

.blue {
    background-color: #46ADF1;
    color: #fff;
}

.violet {
    background-color: #9C72E4;
}
.green {
    background-color: #63C0A9;
}
.green-text {
    color: #63C0A9;
}
.red-text {
    color: red;
}
.orange {
    background-color: #F29E33;
}
.pink{
    background-color: #D763A1;
}
.green-light{
    background-color: #B0C925;
}